#header {
    width: 250px;
    margin-top: 50px;
    display: inline-block;
    float: right;
    color: wheat;
}


#tooplate_main {
    margin-top: 25px;
    left: -25px;
}

#tooplate_slider {
    width: 960px;
}

.product .product_box h2 a {
    color: #b04b2f
}