
.homepage.navigationbar #tooplate_search {
    float: left;
    width: 250px;
    margin-left: 110px;
    height: 24px;
}

.homepage.navigationbar #header_bottom p {
    float: left;
    width: 230px;
}

.homepage.navigationbar #header {
    width: 240px;
    margin-top: -35px;
    margin-left: 280px;
    display: inline-block;
    float: left;
    color: wheat;
}
.product .product_box {
    width: 240px;
   
}

.product .product_box .img_box {
    width: 225px;
}

.product .product_box p {
    color: black;
}
    
