
.homepage.navigationbar #tooplate_search {
    float: left;
    width: 250px;
    margin-left: 36px;
    height: 24px;
}

.homepage.navigationbar #header_bottom p {
    float: left;
    width: 230px;
}

#header_bottom {
    padding: 29px 40px;
}

.homepage.navigationbar #header {
    width: 270px;
    margin-top: -25px;
    margin-left: 280px;
    display: inline-block;
    float: left;
    color: wheat;
}
.product h1{
	color:#b04b2f;
}
.product .product_box {
    width: 260px;
   
}

.product .product_box .img_box {
    width: 225px;
}

.product .product_box p {
    color: black;
}
    
