#header_bottom p{
	margin-left: -240px;
    margin-top: 20px;	
}

#tooplate_wrapper {
    width: 980px;
}

input[type=submit].btn-block, input[type=reset].btn-block, input[type=button].btn-block {
    width: 33.5%;
}